@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;

}

.masterDiv {
    display: flex;
    justify-content: left;
    width: 100%;
    /* min-height: 800px; */
}

.boardDiv {
    display: inline-block;
    justify-content: left;
    width: 20%;
    /* min-height: 800px; */
    border: 1px solid gray;
    margin-left: 10px;
    min-width: 250px;
}

.taskDiv {
    background-color: #fff3af;
    display: flex;
    margin: 10px;
    margin-top: 20px;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    color: #3f3f0c;

    font-weight: 500;
    float: left;
    width: 90%;

}

.taskTextDiv {
    display: flex;
    float: left;
    width: 80%;
}

.close_div {
    display: flex;
    float: right;
    width: 10%;
    height: 22px;
    margin-right: 0px;
    padding-left: 15px;
}


.boardCreator {
    padding: 10px;
}

.boardCreator p {
    font-size: 1.3rem;
    font-weight: 400;
}


.masterDiv h1 {
    padding-left: 10px;
    font-size: 1.4rem;
    font-weight: 400;
}

.taskNameInput {
    display: flex;
    padding: 10px;
    margin-left: 10px;
}

#boardNameInput {
    width: 255px;
    height: 20px;
}


.deleteBoardButton {
    display: flex;
    margin-top: 15px;
    margin-left: 15px;

}
